/data
/output
/own_models2
/PennFudanPed
mask_rcnn_pytorch_tut.py
/.idea
/__pycache__
/results
tracking_offset.py
/references/mmdetection/checkpoints/*.pth
INFO
result*.png
/tutorial_exps

% % DIVERSE (not relevant for main code)
check_config.py
correct_data_dir.py
manipulate_train_val_csv.py
csv_checkup.py

references/mmdetection/tools/analysis_tools/Cascade-RCNN_Plot_Analysis
references/mmdetection/tools/analysis_tools/GFL_Plot_Analysis
references/mmdetection/tools/analysis_tools/VFNet_Plot_Analysis
references/mmdetection/tools/analysis_tools/Detection_Threshold_Analysis
references/mmdetection/tools/analysis_tools/auto_plotting.py
references/mmdetection/tools/analysis_tools/custom_plotting.py
references/mmdetection/tools/analysis_tools/__pycache__
references/mmdetection/tools/analysis_tools/Detection_Threshold_Analysis_OLD_BACKUP



