/data
/output
/.idea
/__pycache__
/results
/references/mmdetection/checkpoints/*.pth
INFO
result*.png
/tutorial_exps


% % % % DIVERSE (not relevant for main code)

% % Not relevant for main code
check_config.py
correct_data_dir.py
manipulate_train_val_csv.py
csv_checkup.py

% % Potential future directions
low_level_analysis.py
low_level_analysis_aug.py
subset_training.py

% % Not categorized
references/mmdetection/tools/analysis_tools/Cascade-RCNN_Plot_Analysis
references/mmdetection/tools/analysis_tools/GFL_Plot_Analysis
references/mmdetection/tools/analysis_tools/VFNet_Plot_Analysis
references/mmdetection/tools/analysis_tools/Detection_Threshold_Analysis
references/mmdetection/tools/analysis_tools/auto_plotting.py
references/mmdetection/tools/analysis_tools/custom_plotting.py
references/mmdetection/tools/analysis_tools/plotting_randomflip.py
references/mmdetection/tools/analysis_tools/__pycache__
references/mmdetection/tools/analysis_tools/Detection_Threshold_Analysis_OLD_BACKUP



